@font-face {
  font-family: AK-BOLD;
  src: url("../fonts/Aktiv Grotesk W06 Bold.ttf");
}

@font-face {
  font-family: AK-REGULAR;
  src: url("../fonts/Aktiv Grotesk W06 Regular.ttf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body * {
  font-family: 'AK-REGULAR';
}

body * p {
  font-size: 20px;
}

body * h2 {
  font-size: 28px;
  font-family: 'AK-BOLD';
}

body * h3 {
  font-size: 23px;
  font-family: 'AK-BOLD';
}

header {
  position: relative;
  background-image: url("../img/header.png");
  height: 80vh;
  background-position: center;
  background-size: cover;
}

header .logo {
  position: relative;
  z-index: 2;
  width: 42%;
}

header h1, header li, header a {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

header .overlay img {
  height: 90vh;
}

header nav {
  height: 10vh;
}

header nav .hamburger {
  width: 37px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

header nav .hamburger .bar, header nav .hamburger:before, header nav .hamburger:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: black;
  margin: 4px 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  z-index: 3;
}

header nav .hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

header nav .hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-4px, -3px);
          transform: rotate(45deg) translate(-4px, -3px);
}

header nav .hamburger.is-active .bar {
  opacity: 0;
}

header nav .mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 64px;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #262626;
  padding-top: 120px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 3;
  padding: 0px 0px 114px 50px;
}

header nav .mobile-nav a {
  color: white;
  text-align: center;
  font-size: 17px;
  padding: 0 66px 27px 0;
}

header nav .mobile-nav button {
  width: 50%;
  margin: 0 auto;
  margin: 20px 0px 0px 34px;
  padding: 7px 8px;
}

header nav .mobile-nav.is-active {
  left: 0%;
}

header .banner {
  height: 61vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .banner h1 {
  position: relative;
  z-index: 2;
  display: block;
}

header .banner h1 span {
  font-size: 30px;
  font-family: 'AK-BOLD';
}

header .image {
  position: absolute;
  z-index: 3;
  width: 49%;
  left: 7rem;
  bottom: -10rem;
}

.about-us {
  padding: 115px 0;
  text-align: center;
}

.about-us p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-us p span {
  padding-bottom: 8px;
}

.about-us h3 {
  padding-bottom: 12px;
}

.about-us .top-info {
  padding: 23px 0;
}

.about-us .image {
  padding-top: 30px;
}

.our-values {
  padding: 70px 0;
  background-color: #E8DFCE;
}

.our-values p {
  text-align: center;
}

.our-values h2 {
  text-align: center;
  padding-bottom: 30px;
}

.our-values #cards .card {
  margin-bottom: 30px;
  background-color: #E8DFCE;
  border: none;
}

.our-values #cards .card .card-image {
  width: 30%;
  padding-bottom: 22px;
}

.our-values #cards .card h3 {
  font-size: 21px;
  padding-bottom: 10px;
}

.our-values #cards .card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.debut-team {
  padding: 70px 0;
  text-align: center;
}

.debut-team .top {
  padding-bottom: 10px;
}

.debut-team .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border: none;
  margin-bottom: 70px;
}

.debut-team .cards .card a {
  font-size: 18px;
  padding: 10px 0;
}

.debut-team .cards .card .image {
  padding: 10px 0;
}

.debut-team .cards .card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio {
  text-align: center;
}

.portfolio #top-para {
  padding: 10px;
}

.portfolio .ethels {
  padding-top: 20px;
}

.portfolio .ethels a {
  font-size: 17px;
}

.portfolio .ethels .left-arrow, .portfolio .ethels .right-arrow {
  position: absolute;
  background-color: #E8DFCE;
  padding: 5px 12px;
  z-index: 3;
}

.portfolio .ethels .left-arrow {
  bottom: 46px;
  right: 141px;
}

.portfolio .ethels .right-arrow {
  bottom: 46px;
  right: 89px;
}

.portfolio .ethels .inner .info p {
  padding: 15px;
}

.portfolio .ethels .inner .image {
  width: 350px;
  padding-right: 20px;
}

.get-in-touch {
  text-align: center;
}

.get-in-touch .inner {
  background-image: url("../img/Path 3.png");
  background-size: cover;
}

.get-in-touch .inner .info {
  padding: 180px 0 50px;
}

.get-in-touch .inner .info p {
  padding-top: 20px;
}

.get-in-touch .inner .info .btn {
  font-size: 18px;
  margin-top: 30px;
  padding: 3px 22px;
}

footer {
  padding-bottom: 40px;
  background-color: #262626;
  text-align: center;
}

footer .inner {
  padding-top: 71px;
}

footer .inner p, footer .inner a {
  font-size: 20px;
}

footer .inner #top-para {
  padding-bottom: 30px;
}

footer .inner .social-links a {
  font-size: 25px;
  border-radius: 50%;
}

footer .inner ul {
  padding-top: 20px;
}

footer .inner ul li {
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-left: 102px;
  font-size: 14px;
}

footer .inner ul li a {
  color: white;
}

footer hr {
  margin: 50px 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body * {
    line-height: 1.5;
  }
  body * h2 {
    font-size: 32px;
  }
  body * .btn {
    width: 149px;
    height: 41px;
    font-size: 15px;
    line-height: 0;
  }
  body * p {
    font-size: 18px;
  }
  header {
    height: 44vh;
  }
  header .logo {
    width: 22%;
  }
  header .overlay {
    top: -5px;
    left: 0px;
  }
  header .overlay img {
    height: 46vh;
  }
  header #desktop-nav li a {
    color: black;
    font-size: 16px;
    padding-right: 21px;
  }
  header nav {
    height: 10vh;
  }
  header .banner {
    height: 24vh;
  }
  header .banner h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header .banner h1 span {
    font-size: 39px;
  }
  header .image {
    width: 37%;
    left: 22rem;
    bottom: -13rem;
  }
  .about-us {
    padding: 115px 0;
    text-align: start;
  }
  .about-us h2 {
    font-size: 32px;
  }
  .about-us p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us p span {
    padding-bottom: 8px;
  }
  .about-us h3 {
    font-size: 15px;
    padding-bottom: 12px;
  }
  .about-us .top-info {
    padding: 23px 0;
  }
  .about-us .image {
    padding-top: 30px;
    width: 102%;
    overflow-x: hidden;
  }
  .about-us .image img {
    height: 400px;
  }
  .about-us #left-inner {
    padding-left: 30px;
  }
  .our-values {
    padding: 70px 0;
  }
  .our-values p {
    text-align: start;
  }
  .our-values h2 {
    text-align: start;
    padding-bottom: 30px;
    font-size: 32px;
  }
  .our-values #cards {
    padding-top: 50px;
  }
  .our-values #cards .card {
    margin-top: 50px;
    background-color: #E8DFCE;
    border: none;
  }
  .our-values #cards .card .card-image {
    width: 50%;
    height: auto;
    padding-bottom: 22px;
  }
  .our-values #cards .card h3 {
    font-size: 28px;
    padding-bottom: 10px;
  }
  .our-values #cards .card p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .debut-team {
    padding: 50px 0;
    text-align: start;
  }
  .debut-team .top {
    padding-bottom: 10px;
  }
  .debut-team .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 78px;
  }
  .debut-team .cards .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    margin-bottom: 70px;
  }
  .debut-team .cards .card a {
    font-size: 18px;
    padding: 10px 0;
  }
  .debut-team .cards .card .image {
    padding: 10px 0;
  }
  .debut-team .cards .card p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .debut-team .card.card:first-child {
    padding-top: 30px;
  }
  .debut-team .card.card:first-child a {
    padding-bottom: 30px;
  }
  .debut-team .card.card:first-child .image img {
    height: 122.94px;
  }
  .debut-team .card:last-child {
    padding-top: 30px;
  }
  .debut-team .card:last-child a {
    padding-bottom: 30px;
  }
  .portfolio {
    text-align: center;
  }
  .portfolio #top-para {
    padding: 10px;
    font-size: 21px;
  }
  .portfolio .ethels {
    position: relative;
    padding-top: 20px;
  }
  .portfolio .ethels .inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .ethels .inner .info h3 {
    font-size: 28px;
  }
  .portfolio .ethels .inner .info p {
    padding: 15px;
    font-size: 21px;
  }
  .portfolio .ethels .inner .info a {
    font-size: 18px;
  }
  .portfolio .ethels .inner .image {
    width: 401px;
  }
  .portfolio .ethels .left-arrow {
    bottom: 54px;
    right: 160px;
    z-index: 3;
    background-color: #E8DFCE;
    padding: 5px 12px;
  }
  .portfolio .ethels .right-arrow {
    bottom: 54px;
    right: 108px;
    z-index: 3;
    background-color: #E8DFCE;
    padding: 5px 12px;
  }
  .get-in-touch {
    padding-top: 50px;
    position: relative;
    text-align: start;
  }
  .get-in-touch .inner {
    position: relative;
  }
  .get-in-touch .inner .info {
    padding: 94px 0 45px;
  }
  .get-in-touch .inner .info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 103px;
  }
  .get-in-touch .inner .info p span {
    display: block;
  }
  .get-in-touch .inner .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
  .get-in-touch .inner .image img {
    height: 429px;
  }
  footer {
    padding-bottom: 40px;
    background-color: #262626;
    text-align: start;
  }
  footer .inner {
    padding-top: 71px;
  }
  footer .inner .image {
    width: 74%;
  }
  footer .inner p, footer .inner a {
    font-size: 21px;
  }
  footer .inner h2 {
    font-size: 22px;
    padding-bottom: 22px;
  }
  footer .inner .email, footer .inner .phone, footer .inner .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
  }
  footer .inner .email img, footer .inner .phone img, footer .inner .location img {
    width: 30%;
  }
  footer .inner .email a, footer .inner .email p, footer .inner .phone a, footer .inner .phone p, footer .inner .location a, footer .inner .location p {
    font-size: 17px;
  }
  footer .inner #top-para {
    padding-bottom: 30px;
  }
  footer .inner #top-para span {
    padding-bottom: 10px;
  }
  footer .inner .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .inner .social-links a {
    font-size: 25px;
    border-radius: 50%;
  }
  footer .inner ul {
    padding-top: 0px;
  }
  footer .inner ul li {
    color: #ffff;
    padding-left: 0;
  }
  footer .inner ul li a {
    color: white;
    font-size: 17px;
  }
  footer #first-inner {
    padding-top: 47px;
  }
  footer hr {
    margin: 50px 0;
  }
  footer #last-inner {
    padding-left: 43px;
  }
}

@media screen and (min-width: 1200px) {
  body * {
    line-height: 1.5;
  }
  body * h2 {
    font-size: 60px;
  }
  body * h3 {
    font-size: 23px;
  }
  body * p {
    font-size: 25px;
  }
  body * .btn {
    width: 217px;
    height: 60px;
    font-size: 25px;
    line-height: 0;
  }
  header {
    height: 66vh;
    padding-bottom: 70px;
  }
  header .logo {
    width: 22%;
  }
  header .overlay {
    top: -75px;
    left: 0px;
  }
  header .overlay img {
    height: 85vh;
  }
  header #desktop-nav li a {
    color: black;
    font-size: 21px;
    padding-right: 21px;
  }
  header nav {
    height: 10vh;
  }
  header .banner {
    height: 24vh;
  }
  header .banner h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 96px;
  }
  header .banner h1 span {
    font-size: 61px;
  }
  header .image {
    width: 60%;
    left: 38rem;
    bottom: -30rem;
  }
  .about-us {
    padding: 300px 0 136px;
    text-align: start;
  }
  .about-us p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us p span {
    padding-bottom: 8px;
  }
  .about-us h3 {
    font-size: 15px;
    padding-bottom: 12px;
  }
  .about-us .top-info {
    padding: 23px 0;
  }
  .about-us .image {
    padding-top: 30px;
    width: 704px;
    text-align: end;
  }
  .about-us .image img {
    height: 573px;
  }
  .about-us #left-inner {
    padding-left: 86px;
  }
  .our-values {
    padding: 70px 0;
  }
  .our-values p {
    text-align: start;
    font-size: 20px;
  }
  .our-values h2 {
    text-align: start;
    padding-bottom: 30px;
  }
  .our-values #cards {
    padding-top: 50px;
  }
  .our-values #cards .card {
    margin-top: 135px;
    background-color: #E8DFCE;
    border: none;
  }
  .our-values #cards .card .card-image {
    width: 150px;
    height: auto;
    padding-bottom: 0px;
  }
  .our-values #cards .card h3 {
    font-size: 41px;
    padding-bottom: 10px;
  }
  .our-values #cards .card p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 20px;
  }
  .our-values #cards .card:first-child, .our-values #cards .card:last-child {
    margin-top: 0px;
  }
  .our-values #cards .card:first-child .card-image, .our-values #cards .card:last-child .card-image {
    padding-bottom: 30px;
  }
  .debut-team {
    padding: 50px 0;
    text-align: start;
  }
  .debut-team .top {
    padding: 0 54px 10px 0;
  }
  .debut-team p, .debut-team a {
    font-size: 20px;
  }
  .debut-team .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 83px;
  }
  .debut-team .cards .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    margin-bottom: 70px;
  }
  .debut-team .cards .card a {
    padding: 10px 0;
  }
  .debut-team .cards .card .image {
    padding: 10px 0;
  }
  .debut-team .cards .card p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .debut-team .card.card:first-child {
    padding-top: 8px;
  }
  .debut-team .card.card:first-child a {
    padding-bottom: 30px;
  }
  .debut-team .card.card:first-child .image img {
    height: 233px;
  }
  .debut-team .card:last-child {
    padding-top: 8px;
  }
  .debut-team .card:last-child a {
    padding-bottom: 30px;
  }
  .portfolio {
    padding-bottom: 120px;
    text-align: start;
  }
  .portfolio h2, .portfolio #top-para {
    text-align: center;
  }
  .portfolio #top-para {
    padding: 10px;
    font-size: 21px;
  }
  .portfolio .ethels {
    position: relative;
    padding-top: 20px;
  }
  .portfolio .ethels .inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio .ethels .inner .info {
    padding-left: 106px;
  }
  .portfolio .ethels .inner .info h3 {
    font-size: 28px;
  }
  .portfolio .ethels .inner .info p {
    padding: 0px;
    font-size: 25px;
  }
  .portfolio .ethels .inner .info a {
    font-size: 18px;
  }
  .portfolio .ethels .inner .image {
    width: 594px;
  }
  .portfolio .ethels .inner .image img {
    height: 542px;
  }
  .portfolio .ethels .left-arrow {
    bottom: 82px;
    right: 293px;
    z-index: 3;
    background-color: #E8DFCE;
    padding: 5px 12px;
  }
  .portfolio .ethels .right-arrow {
    bottom: 82px;
    right: 242px;
    z-index: 3;
    background-color: #E8DFCE;
    padding: 5px 12px;
  }
  .get-in-touch {
    padding-top: 50px;
    position: relative;
    text-align: start;
  }
  .get-in-touch .inner {
    position: relative;
  }
  .get-in-touch .inner .info {
    padding: 178px 0 0px 120px;
  }
  .get-in-touch .inner .info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 0px;
  }
  .get-in-touch .inner .info p span {
    display: block;
  }
  .get-in-touch .inner .info .btn {
    margin: 45px 0;
    font-size: 25px;
  }
  .get-in-touch .inner .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 667px;
  }
  .get-in-touch .inner .image img {
    height: 588px;
  }
  footer {
    padding-bottom: 40px;
    background-color: #262626;
    text-align: start;
  }
  footer .inner {
    padding-top: 71px;
  }
  footer .inner .image {
    width: 74%;
  }
  footer .inner p, footer .inner a {
    font-size: 15px;
  }
  footer .inner h2 {
    font-size: 22px;
    padding-bottom: 22px;
  }
  footer .inner .email, footer .inner .phone, footer .inner .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  footer .inner .email img, footer .inner .phone img, footer .inner .location img {
    width: 17%;
  }
  footer .inner .email a, footer .inner .email p, footer .inner .phone a, footer .inner .phone p, footer .inner .location a, footer .inner .location p {
    font-size: 20px;
  }
  footer .inner #top-para {
    padding-bottom: 30px;
    font-size: 20px;
  }
  footer .inner #top-para span {
    padding-bottom: 10px;
  }
  footer .inner .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .inner .social-links a {
    font-size: 25px;
    border-radius: 50%;
  }
  footer .inner ul {
    padding-top: 0px;
  }
  footer .inner ul li {
    color: #ffff;
    padding-left: 0;
  }
  footer .inner ul li a {
    color: white;
    font-size: 17px;
  }
  footer #first-inner {
    padding-top: 47px;
  }
  footer hr {
    margin: 50px 0;
  }
}
/*# sourceMappingURL=style.css.map */